# Core LlamaIndex
llama-index==0.12.35

# Módulos separados da versão 0.12+
llama-index-embeddings-huggingface
llama-index-llms-sambanovasystems
llama-index-llms-ollama

# Qdrant client para vetores
qdrant-client

# Transcrição de áudio
assemblyai

# Embeddings da HuggingFace
transformers
sentence-transformers

# Recomendado para embeddings e modelos locais
torch
